ColumnLimit: 300
IndentWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: false
    AfterStruct: false
    AfterControlStatement: false
    AfterUnion: false
    AfterEnum: false
    BeforeElse: false
